* {
    margin:0;
    padding:0;
    
    
}
body {
    background:darkgrey;
    margin:auto;
    color:powderblue;
}
.navigation {
    float:left;
    position:fixed;
    right:20vw;
    margin:20px;
    text-decoration:none;
}
.list {
    display:inline-block;
    border-radius:20px;
    text-decoration:none;
    height:30px;
    color:powderblue;
    
}
.menu {
    text-decoration: none;
    padding:10px;
    font-size:130%;

}
.menu:hover {
    background-color:grey;
    border-radius:5px;

}
a:visited {
	text-decoration:none;
}
.copy {
    color:white;
    text-align:center;
}
.overall {
    display:block;
    position:relative;
    top:100px;
    width:60vw;
    margin:auto;
    background-color:grey;
	padding:30px;
	border-radius:40px;

}
.footer {
    position:absolute;
    
    width:30vw;
    left:35%;
    bottom:0px;
    padding:10px;
    
}